body {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("/Images/bg_img.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
}

#container {
    width: 100%;
    height: 100vh;
    height: 672px;
    background-color: rgb(0, 0, 0, .3);
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Time Container */
#time-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    cursor: default;
    height: 130px;
    padding-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all .3s ease;
}

#hour,
#min,
#dots {
    font-size: 150px;
    line-height: 100px;
    font-weight: 500;
    transition: all .3s ease;
}

#zone {
    font-size: 60px;
}

/* name container */
#msg-container {
    height: 60px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all .3s ease;
}

#msg-container h1,
#msg-container span {
    font-size: 40px;
    font-weight: 500;
}

/* Search container */
#search-container {
    width: 500px;
    height: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all .3s ease;
}

#search-container form {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    ::placeholder {
        color: rgb(255, 255, 255, .7);
    }
}

form label {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 20px;
    cursor: pointer;
}

form input[type="search"] {
    width: 100%;
    height: 50px;
    border-radius: 999px;
    font-size: 17px;
    padding-left: 45px;
    padding-right: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(100px);
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path fill="%23ffffff" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>');
    background-size: 20px 20px;
    cursor: pointer;
}

/* BookMarks */
#shortcut-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 502px;
    height: 200px;
    overflow: hidden;
    transition: all .3s ease;
}

#shortcut-container .shortcut {
    width: 100px;
    height: 100px;
    gap: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    overflow: hidden;
    transition: background .3s;
}

.shortcut:hover {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}

.shortcut-icon {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
    overflow: hidden;
}

.shortcut .shortcut-title {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    text-align: center;
}

/* dayDate container */
.dayDate-container {
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: default;
    display: none;
}

#day {
    font-size: 20px;
}

#date,
#month,
#year {
    font-size: 17px;
}

/* Setting */
svg#open-setting {
    position: fixed;
    bottom: 30px;
    left: 30px;
    height: 24px;
    width: 24px;
    fill: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    transition: all .3s ease;
}

#open-setting:hover {
    fill: rgba(255, 255, 255);
}

/* Setting Box */
#setting-box {
    width: 0px;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .5s ease;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

#setting-box::-webkit-scrollbar {
    display: none;
}

.setting-inner {
    width: 100%;
    min-width: 350px;
    padding: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.setting-section {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h2.setting-sec-heading {
    font-size: 28px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

h3.setting-tile-heading {
    font-size: 16px;
    font-weight: 400;
}

/* Setting tile */
.setting-tile-withHeading {
    display: flex;
    flex-direction: column;
}

.setting-tile .setting-tile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}