body {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url("/Images/bg_img.jpg") no-repeat center;
    background-size: cover;
    z-index: -1;
}

#container {
    width: 100%;
    height: 672px;
    position: relative;
    background-color: rgb(0, 0, 0, .3);
    backdrop-filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

/* Time Container */
#time-container {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 10px;
    cursor: default;
    height: 130px;
    padding-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all .3s ease;
}

#hour,
#min,
#dots {
    font-size: 150px;
    line-height: 100px;
    font-weight: 500;
    transition: all .3s ease;
}

#zone {
    font-size: 60px;
}

/* name container */
#msg-container {
    height: 60px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all .3s ease;
}

#msg-container h1,
#msg-container span {
    font-size: 40px;
    font-weight: 500;
    text-transform: capitalize;
}

/* Search container */
#search-container {
    width: 500px;
    height: 50px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all .3s ease;
}

#search-container form {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;

    ::placeholder {
        color: rgb(255, 255, 255, .7);
    }
}

form label img {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;
}

form label img#bing-logo {
    left: 10px;
    display: none;
}

form input[type="search"] {
    width: 100%;
    height: 50px;
    border-radius: 999px;
    font-size: 17px;
    padding-left: 45px;
    padding-right: 10px;
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgb(255, 255, 255, .35);
    backdrop-filter: blur(10px);
}

::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" height="16" width="12" viewBox="0 0 384 512"><path fill="%23ffffff" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>');
    background-size: 20px 20px;
    cursor: pointer;
}

/* BookMarks */
#shortcut-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 100px);
    max-width: 550px;
    width: 500px;
    height: 200px;
    max-height: 300px;
    overflow: hidden;
    transition: all .3s ease;
}

#shortcut-container .shortcut {
    height: 100px;
    gap: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: transparent;
    overflow: hidden;
}

#shortcut-container .shortcut:hover {
    background: rgb(255, 255, 255, .35);
    backdrop-filter: blur(10px);
}

.shortcut-icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255);
    overflow: hidden;
}

.shortcut .shortcut-title {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    text-align: center;
}

/* Google Apps */
#gApps-container {
    position: absolute;
    top: 40px;
    right: 40px;
}

#gApps-container #open-gApps {
    height: 30px;
    filter: invert(90%);
    cursor: pointer;
}



/* Setting */
#open-setting {
    position: fixed;
    bottom: 40px;
    left: 40px;
    cursor: pointer;
}

#open-setting svg {
    fill: rgba(255, 255, 255, 0.8);
    height: 24px;
    width: 24px;
    transition: all .3s ease;

}

#open-setting svg:hover {
    fill: rgba(255, 255, 255);
}

/* Setting Box */
#setting-box {
    width: 0px;
    height: 100vh;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .5s ease;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
}

#setting-box::-webkit-scrollbar {
    display: none;
}

.setting-inner {
    width: 100%;
    min-width: 350px;
    padding: 15px 0 15px 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.setting-section {
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

h2.setting-sec-heading {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5px;
}

h3.setting-tile-heading {
    font-size: 16px;
    font-weight: 400;
}

/* Setting tile */
.setting-tile-withHeading {
    display: flex;
    flex-direction: column;
}

.setting-tile .setting-tile-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Hour Format Radio */
.setting-radio {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hour-format-radio+label,
.search-engine-radio+label {
    padding: 2px 4px;
    border-radius: 5px;
    width: 75px;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;
    transition: all .3s ease;
}

.hour-format-radio:checked+label,
.search-engine-radio:checked+label {
    background-color: #f7a707;
}

/* Message Input Name */
.name-input-div input[type="text"] {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 130px;
    text-align: center;
    text-transform: capitalize;
}

/* Shortcut Layout */
.setting-tile-layout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.layout-radios+label {
    padding: 4px 4px;
    border-radius: 5px;
    width: 90px;
    text-align: center;
    border: 1px solid white;
    cursor: pointer;
    background-color: transparent;
    transition: all .3s ease;
}

.layout-radios:checked+.layout-labels {
    background-color: #f7a707;
}

/* Reset Setting */
.setting-reset {
    position: relative;
}

button#reset-setting-btn {
    padding: 3px 10px;
    background-color: #f7a707;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease;
}

button#reset-setting:hover {
    transform: scale(1.1);
}

#sure-reset {
    position: absolute;
    bottom: 40px;
    right: 0;
    width: 300px;
    height: 0px;
    padding: 0px;
    border-radius: 10px;
    background-color: white;
    color: #333;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    overflow: hidden;
    transition: all .3s ease;
}

#sure-reset .confirmation-btns {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.confirmation-btns button {
    width: 80px;
    color: white;
    background-color: #f7a707;
    border: 1px solid #f7a707;
    border-radius: 5px;
    padding: 3px;
    cursor: pointer;
    transition: all .3s ease;
}

.confirmation-btns button:hover {
    transform: scale(1.1);
}

.confirmation-btns #cancel-btn {
    background-color: white;
    color: #333;
    border: 1px solid #f7a707;
    border: 1px solid #333;
}