@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

html {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* body::before {
    content: "";
    background: url("/Images/bg_img.jpg") center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
} */